version: '3.9'

services:
  backend:
    build: ./backend
    container_name: jinx_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: jinx_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
